* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-------------------nav---------------------*/

nav {
    height: 8vh;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Cinzel';
    font-weight: bolder;
    letter-spacing: 3px;
    transition: 0.3s ease-out;
}

.nav-links li a:hover {
    color: #ffd700;
}

/*-------------------top-page---------------------*/

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgb(255, 216, 42, 0.2)), url('https://raw.githubusercontent.com/fernandoxmartin/Cafe42/master/img/bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.slogan-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.slogan {
    color: #ffffff;
    font-family: 'Cinzel';
    font-size: 4vw;
}

.slogan-container a {
    margin: 0 auto;
    line-height: 50px; 
    width: 200px; 
    background-color: #ffd700;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Roboto';
    text-decoration: none;
    color: #000000;
    transition: 0.3s ease-out;
}

.slogan-container a:hover {
    background-color: #e7e7e7;
    color: #000000;
}

/*-------------------about---------------------*/

#aboutus {
    background-color: #ffffff;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#aboutus h2 {
    font-size: 50px;
    padding: 20px;
}

#aboutus h3 {
    font-family: 'Cinzel';
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

#aboutus p {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Playfair Display';
}

/*------------------carousel------------------------*/

.photos {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3)), url('https://raw.githubusercontent.com/fernandoxmartin/Cafe42/master/img/beans.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 40%;
}

.carousel-inner img {
    width: 450px;
    height: 100%;
    box-shadow: 0px 5px 20px 5px #000000;
}

.carousel-item{
    text-align: center;
}

/*-----------------footer-----------------*/

.footer {
    background-color: #ffffff;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    font-size: 18px;
    font-weight: 900;
    font-family: 'Cinzel';
}

.footer img {
    filter: brightness(0);
}

.contacts{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.contacts a{
    text-decoration: none;
    color: #000000;
    font-family: 'Cinzel';
    font-weight: 900;
    transition: 0.3s ease-out;
}

.contacts a:hover{
    color: gold;
}

/*-----------------------mobile------------------------*/

@media screen and (max-width: 600px){

    .line {
        width: 30px;
        height: 3px;
        background: #ffffff;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 17;
    }

    .nav-links {
        position: fixed;
        background: #262626;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -15%);
        -webkit-clip-path: circle(100px at 90% -15%);
        transition: all 0.7s ease-out;
        pointer-events: none;
    }

    .nav-links li a {
        font-size: 30px;
    }

    .nav-links.open {
        clip-path: circle(1200px at 90% -15%);
        -webkit-clip-path: circle(1200px at 90% -15%);
        pointer-events: all;
        z-index: 16;
    }

    #aboutus h2 {
        font-size: 30px;
    }
    
    #aboutus h3 {
        font-size: 15px;
    }
    
    #aboutus p {
        font-size: 15px;
        width: 100%;
    }

    #slider {
        width: 80%;
    }
    
    .carousel-inner img {
        width: 350px;
    }
    
    .carousel-item{
        text-align: center;
    }
}